<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<h3>APLIKASI KASIR</h3>
			</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">ONLINE</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Applikasi</a></li>
					<li><a href="/values" class="link">Mesin Kasir</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Contact Us</h3>
				<ul class="mb3">
					<li><a href="https://wa.me/6285646104747" class="link" rell="nofollow" target="blank">WhatsApp</a></li>
					<li><a href="tel:+6285331361404" class="link" rell="nofollow">Call Us</a></li>
					<li><a href="mailto:hockeycorpmarketing@gmail.com" class="link" rell="nofollow" target="blank">Email</a></li>
					<li><a href="mailto:hockeycorpmarketing@gmail.com" class="link" rell="nofollow" target="blank">Maps</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/mesinkasircomplete" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/hockeycomp" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/mesinkasircomplete/" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "https://www.youtube.com/channel/UCIBWTgOXH5oa2YlbfpO7QLQ/featured" "svg" "icons-youtube") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
